<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bài 3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light">
            <a class="navbar-brand" href="#">
                <picture>
                    <source media="(min-width: 750px)" srcset="~/img/bg-logo-240x232.png" />
                    <img src="~/img/bg-logo-120x116.png" />
                </picture>
            </a>
            <div class="navbar-expand-sm">
                <div class="navbar-nav mr-5 mr-sm-0">
                    <a class="nav-item nav-link d-none d-sm-block" href="#">Home</a>
                    <span class="seperator"></span>
                    <a class="nav-item nav-link" href="#">About</a>
                    <span class="seperator"></span>
                    <a class="nav-item nav-link" href="#">Shirts</a>
                    <span class="seperator"></span>
                    <a class="nav-item nav-link" href="#">Contact</a>
                </div>
            </div>
        </nav>
        @RenderBody()
    </div>
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Bài 3
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
