.footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    white-space: nowrap;
    line-height: 2rem; /* Vertically center the text there */
}

#department {
    font-size: 1.75rem;
    position: relative; /*importance*/
    color: red;
    background-color: yellow;
    animation: slide 3s infinite;
}

@keyframes slide {
    0% {
        top: 0px;
    }

    50% {
        top: 10px;
    }

    100% {
        top: 0px;
    }
}

#heading {
    font-size: 2rem;
    margin-top: 10px;
    animation: colorChanging 10s infinite;
}

@keyframes colorChanging {
    0% {
        color: blue;
    }

    33.3% {
        color: darkorange;
    }

    66.6% {
        color: hotpink;
    }

    100% {
        color: blue;
    }
}

#logo {
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    padding: 10px;
    max-width: 100px;
    max-height: 100px;
    border: solid 1px #555;
    border-radius: 50px;
    box-shadow: -9px 5px 2px DarkGray, -12px 7px 2px yellow, -14px 9px 2px green;
}

.invalid-form-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.img-thumbnail {
    aspect-ratio: 1 / 1;
}

table, th, td {
    border: 1px solid #007bff !important;
    border-collapse: collapse !important;
}