@page
@model IndexModel
@{
    ViewData["Title"] = "Responsive";
}

<p class="h2">The shirts</p>
<div class="row">
    <div class="col-12 col-sm-6 col-lg-4 card text-center text-uppercase">
        <div class="card-decoration"></div>
        <h5 class="card-body">The shirt title that spans more than one line</h5>
        <div class="card-footer text-light">
            <img src="~/img/shirt-1.png" class="card-img-top" />
            <div class="text-light align-items-center">
                <div class="chevron d-inline-block">1059<br />votes</div>
            </div>
            <div class="detail">
                shirt details and voting
                <img class="align-baseline ml-1" src="~/img/bg-arrow-right-oragne.png" />
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 card text-center text-uppercase">
        <div class="card-decoration"></div>
        <h5 class="card-body">The shirt title</h5>
        <div class="card-footer text-light">
            <img src="~/img/shirt-1.png" class="card-img-top" />
            <div class="text-light align-items-center">
                <div class="chevron d-inline-block">1059<br />votes</div>
            </div>
            <div class="detail">
                shirt details and voting
                <img class="align-baseline ml-1" src="~/img/bg-arrow-right-oragne.png" />
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 card text-center text-uppercase">
        <div class="card-decoration"></div>
        <h5 class="card-body">The shirt title</h5>
        <div class="card-footer text-light">
            <img src="~/img/shirt-1.png" class="card-img-top" />
            <div class="text-light align-items-center">
                <div class="chevron d-inline-block">1059<br />votes</div>
            </div>
            <div class="detail">
                shirt details and voting
                <img class="align-baseline ml-1" src="~/img/bg-arrow-right-oragne.png" />
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 card text-center text-uppercase">
        <div class="card-decoration"></div>
        <h5 class="card-body">The shirt title that spans more than one line</h5>
        <div class="card-footer text-light">
            <img src="~/img/shirt-1.png" class="card-img-top" />
            <div class="text-light align-items-center">
                <div class="chevron d-inline-block">1059<br />votes</div>
            </div>
            <div class="detail">
                shirt details and voting
                <img class="align-baseline ml-1" src="~/img/bg-arrow-right-oragne.png" />
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 card text-center text-uppercase">
        <div class="card-decoration"></div>
        <h5 class="card-body">The shirt title</h5>
        <div class="card-footer text-light">
            <img src="~/img/shirt-1.png" class="card-img-top" />
            <div class="text-light align-items-center">
                <div class="chevron d-inline-block">1059<br />votes</div>
            </div>
            <div class="detail">
                shirt details and voting
                <img class="align-baseline ml-1" src="~/img/bg-arrow-right-oragne.png" />
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 card text-center text-uppercase">
        <div class="card-decoration"></div>
        <h5 class="card-body">The shirt title</h5>
        <div class="card-footer text-light">
            <img src="~/img/shirt-1.png" class="card-img-top" />
            <div class="text-light align-items-center">
                <div class="chevron d-inline-block">1059<br />votes</div>
            </div>
            <div class="detail">
                shirt details and voting
                <img class="align-baseline ml-1" src="~/img/bg-arrow-right-oragne.png" />
            </div>
        </div>
    </div>
</div>
